/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


.link{

}

.link:hover { 
	color:#244;	
	background-color:#ffffff;
}

/* line 2, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances table {
  border-collapse: collapse;
}
/* line 6, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_description {
  width: 30%;
}
/* line 9, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_description dl {
  margin: 0;
}
/* line 13, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
  background: #bebebe;
}
/* line 20, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_description dd {
  margin: 0;
}
/* line 25, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 31, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_bar {
  font-size: larger;
  font-weight: bold;
  background: #bebebe;
}
/* line 37, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #2e79bf;
  float: left;
  margin-right: 0px;
}
/* line 47, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .button:hover {
  color: #244;
  background-color: #ffffff;
  text-decoration: underline;
  float: left;
  margin-right: 0px;
}
/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
.text-error {
  color: red;
}

/* line 5, ../../app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 11, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 18, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 28, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
