/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


.link{

}

.link:hover { 
	color:#244;	
	background-color:#ffffff;
}

/* line 2, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances table {
  border-collapse: collapse;
}
/* line 6, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_description {
  width: 30%;
}
/* line 9, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_description dl {
  margin: 0;
}
/* line 13, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
  background: #bebebe;
}
/* line 20, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_description dd {
  margin: 0;
}
/* line 25, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 31, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .list_bar {
  font-size: larger;
  font-weight: bold;
  background: #bebebe;
}
/* line 37, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #3887d0;
  float: left;
  margin-right: 0px;
  font-weight: bold;
}
/* line 47, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .button:hover {
  color: #244;
  background-color: #ffffff;
  text-decoration: underline;
  float: left;
  margin-right: 0px;
  font-weight: bold;
}
/* line 56, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .thumbnail {
  width: 2000px;
}
/* line 60, ../../app/assets/stylesheets/goal_instances.css.scss */
.goal_instances .container.container-gi {
  max-width: 1024px;
  width: 1024px;
  padding: 0 !important;
  border: 0;
}
/* line 5, ../../app/assets/stylesheets/login.css.scss */
.alert.alert-success {
  width: 400px;
  margin: auto;
  margin-bottom: 30px;
}

/* line 13, ../../app/assets/stylesheets/login.css.scss */
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

/* line 21, ../../app/assets/stylesheets/login.css.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 27, ../../app/assets/stylesheets/login.css.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* line 32, ../../app/assets/stylesheets/login.css.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* line 40, ../../app/assets/stylesheets/login.css.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  /* line 48, ../../app/assets/stylesheets/login.css.scss */
  .container {
    max-width: 1024px;
  }
}
/* line 52, ../../app/assets/stylesheets/login.css.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* line 57, ../../app/assets/stylesheets/login.css.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* line 61, ../../app/assets/stylesheets/login.css.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* line 67, ../../app/assets/stylesheets/login.css.scss */
.marketing {
  margin: 40px 0;
}

/* line 70, ../../app/assets/stylesheets/login.css.scss */
.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  /* line 79, ../../app/assets/stylesheets/login.css.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 84, ../../app/assets/stylesheets/login.css.scss */
  .header {
    margin-bottom: 30px;
  }

  /* line 88, ../../app/assets/stylesheets/login.css.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 7, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 14, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 24, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 30, ../../app/assets/stylesheets/scaffolds.css.scss */
a.navbar-brand.trackr {
  background-color: #3f8fcf;
  color: #fff;
  text-shadow: 0em 0em 0.5em black;
}

/* line 36, ../../app/assets/stylesheets/scaffolds.css.scss */
a.navbar-brand.trackr:hover {
  background-color: #3f7fbf;
  color: #fff;
  text-shadow: 0em 0em 1em white;
}
