<body>	

 
<div class="jumbotron">
  <h1>Welcome to Trac.kr !</h1>
  <h2>Your Personal Goal Tracker</h2>
  <br />
  <p class="text-error"><%= notice %></p>

  <%= link_to "Login using Facebook", @auth_url, class: "btn btn-primary btn-lg" %>
</div>

<br />
<%= image_tag("logo.gif", :class => "center-block") %>

</body>

