<div class="container">
	<div class="panel panel-default">
	    <div class="panel-heading">
			<div class="panel-title text-center">
			<b><i class="glyphicon glyphicon-edit"></i> Edit the Goal</b>
			</div>
		</div>
		<div class="panel-body">
			<%= render 'form_edit' %>
		</div>
	</div>
</div>
	
