.goal_instances {
  table {
    border-collapse: collapse;
  }
  
  .list_description {
    width: 30%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
      background:   #bebebe;
    }

    dd {
      margin: 0;
    }
  }
  
  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_bar {
  	font-size:    larger;
  	font-weight:  bold;
    background:   #bebebe;
  }

  .button {
    background:none!important;
    border:none; 
    padding:0!important;
    color:#3887d0;
    float:left; 
    margin-right:0px;
    font-weight:bold;
  }

   .button:hover
    { 
    color:#244; 
    background-color:#ffffff;
    text-decoration:underline;
    float:left; 
    margin-right:0px;
    font-weight:bold;
    }

    .thumbnail {
    width: 2000px;
  }

  .container {
  max-width: 2000px;
  width: 2000px;
  margin-right: 0;
  margin-left: 0;
  padding:0!important;
  border: 0;
  }

  .col-md-4 {
  padding-left: 188px;
  }
}
