<div class="container">
	<div class="pull-left" style="margin: 20px 20px 0px 0px;">
		<a href="#">
			<%= image_tag @goal_instance.goal.picture.url, :class => "img-thumbnail img-responsive", :width => "350px", :height => "350x" %>
		</a>
	</div>

	<div class="container">
		<h1><b><%= @goal_instance.goal.title %></b></h1>
		<hr />
		<h2><small><%= @goal_instance.goal.description %></small></h2>
		<hr />
	</div>	

	<%= render 'form1' %>

</div>
